<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/error404.css'>
    <script src='main.js'></script>
</head>

<body>
    
    <div class="error404__container">
        <h1>ERROR # 404</h1>
        <img src="../assets/css/error404.png" alt="Error 404">
        <div class="title__container">
            <span class="sup-title">Vaya, tenemos un problema...</span>
        </div>

        <p class="text-between">Parece que algo no ha funcionado del todo bien, ¿le importa si volvemos a la página de
            inicio?</p>
        <a href="" class="return-button">Quiero volver</a>
    </div>


</body>

</html>