<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='eventList.css'>
    <script src='main.js'></script>
</head>

<body>




    <section class="event-list">
        <div class="event">

            <div class="event__header">
                <div class="event__title">
                    <span>happy birthday</span>
                </div>
                <div class="event__header__details">
                    <span>cantidad de servicios <span class="span-color">3</span></span>
                    <span>Fecha:<span class="span-color">10/12/2023</span></span>
                </div>

            </div>

            <div class="event__price">
                <span>Total: <span class="span-color">$500.000</span></span>
            </div>

        </div>

        <div class="event">

            <div class="event__header">
                <div class="event__title">
                    <span>happy birthday</span>
                </div>
                <div class="event__header__details">
                    <span>cantidad de servicios <span class="span-color">3</span></span>
                    <span>Fecha:<span class="span-color">10/12/2023</span></span>
                </div>
            </div>

            <div class="event__price">
                <span>Total: <span class="span-color">$500.000</span></span>
            </div>

        </div>

        <div class="event">

            <div class="event__header">
                <div class="event__title">
                    <span>happy birthday</span>
                </div>
                <div class="event__header__details">
                    <span>cantidad de servicios <span class="span-color">3</span></span>
                    <span>Fecha:<span class="span-color">10/12/2023</span></span>
                </div>

            </div>

            <div class="event__price">
                <span>Total: <span class="span-color">$500.000</span></span>
            </div>

        </div>
    </section>

</body>

</html>