<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <span>

    </span>

    <div>

    </div>

    <nav>

    </nav>
  </header>
  <main>
    <section class="services">
      <!-- hisjos: __ 
        nombre-complejo con guion ##-##
        caracteristica con dos guiones: --
      -->
      
      <article class="services__card"></article>

      <article class="services__card--red"></article>
    </section>

    <article>
      Commits
      git commit -m "Add HTML struture" -m "More text"
    </article>
  </main>
  <footer>
    
  </footer>
</body>
</html>