<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/main.css">
  <title>Document</title>

</head>


</body>

<center>
    <button class="button-filter-bar" id="filter__bar" > <span><img src="../assets/img/filter new.png" alt="Filters" class="filter__img" id="filter__img" height="20px" width="20px"></span> Filtros </button>
</center>




<div id="modal__filter" class="Modal__filter">

    <div class="modal-content">

            <header>
                <div class="filter__header row">
                        <h4>Filtros</h4>
                            
                               <button class="exit__filter" onclick="document.getElementById('modal__filter').style.display='none'">
                                <img src="../assets/img/salir filtro.png" alt="Salir"  height="20px" width="20px">
                               </button>
                         
                </div>
            </header>
    
            
        <section class="filter_elements">
            <div class="scroll-container">
             <h3 >Ubicación</h3>
    
                <div class="button_places row">
    
                    <button type="button" class="img_places_button" id="urban__place" ><img class="img_places" src="../assets/img/urban.png" alt="Urbano">
                        <br><label class="form-check-label" for="urban__place">Urbano</label>
                    </button>
    
                    <button type="button" class="img_places_button" id="rural__place" ><img class="img_places"  src="../assets/img/campestre.png" alt="Campestre">
                        <br><label class="form-check-label" for="rural__place">Campestre</label>
                    </button>
    
                </div>
            </div>
        </section>
    

        <section class="filter_elements">
            <div class="scroll-container">
               <div class="mb-3">
                   <h3>Rango de precio</h3>
                    <label for="min__Price">Precio mínimo:</label>
                    <input type="number" id="min__Price" min="200000" placeholder="Mínimo">
                    <label for="max__Price">Precio máximo:</label>
                    <input type="number" id="max__Price" min="300000" max="10000000" placeholder="Máximo">
                    <!-- <button onclick="filterByPrice()">Aplicar filtro</button> -->
                </div>
               </div>
        </section>
    

        <section class="filter_elements">
            <div class="scroll-container">
               <div class="mb-3">
                   <h3>Promociones</h3>
                   <div class="checkbox-grid">
                    <div class="checkbox-row">
                        <input type="checkbox" id="percentage">
                        <label for="percentage">10% - 50%</label>
                    </div>

                    <div class="checkbox-row">
                      <input type="checkbox" id="logistics">
                      <label for="logistics">Halloween</label>
                    </div>

                    <div class="checkbox-row">
                      <input type="checkbox" id="decor">
                      <label for="decor">San Valentín</label>
                    </div>

                    <div class="checkbox-row">
                      <input type="checkbox" id="music">
                      <label for="music">Navidad</label>
                    </div>

                    <div class="checkbox-row">
                        <input type="checkbox" id="photography">
                        <label for="photography">Fotografia</label>
                    </div>

                </div>
                </div>
               </div>
        </section>
    

        <section class="filter_elements">
            <div class="scroll-container">
          <div class="mb-3">
            <h3>Aforo</h3>
            <label for="min__amount">Cantidad mínima:</label>
            <input type="number" id="min__amount" min="20" placeholder="Mínimo">
            <label for="max__amount">Cantidad máxima:</label>
            <input type="number" id="max__amount" min="30" max="250" placeholder="Máximo">
            <!-- <button onclick="filterByPrice()">Aplicar filtro</button> -->
          </div>
          </div>
        </section>



        <section class="filter_elements">
            <div class="scroll-container">
              <div class="mb-3">
                <h3>Servicios</h3>
                <div class="checkbox-grid">
                    <div class="checkbox-row">
                        <input type="checkbox" id="cake__shop">
                        <label for="cake__shop">Pasteleria</label>
                    </div>

                    <div class="checkbox-row">
                      <input type="checkbox" id="logistics">
                      <label for="logistics">Logística</label>
                    </div>

                    <div class="checkbox-row">
                      <input type="checkbox" id="decor">
                      <label for="decor">Decoración</label>
                    </div>

                    <div class="checkbox-row">
                      <input type="checkbox" id="catering">
                      <label for="catering">Catering:</label>
                    </div>

                    <div class="checkbox-row">
                      <input type="checkbox" id="music">
                      <label for="music">Música</label>
                    </div>

                    <div class="checkbox-row">
                        <input type="checkbox" id="photography">
                        <label for="photography">Fotografia</label>
                    </div>

                </div>
              </div>
            </div>
        </section>

     
        </div>
    </div>
</div>

<script>
    document.getElementById("filter__bar").addEventListener("click", function() {
        document.getElementById("modal__filter").style.display = "block";
    });
</script>

</html>