<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/main.css">
  <title>Document</title>
</head>

<body>
  <header>
    <div>
      <div class="logo">
        <img src="../assets/svg/logo.svg" alt="Logo Dreamy Event">
      </div>

      <form action="./search.html" class="search-bar">
        <input type="text" name="search" id="search" placeholder="Buscar">
        <button type="submit"></button>
      </form>

      <nav class="nav-bar">
        <button type="button" class="hamburguer-menu"></button>
      </nav>
    </div>
  </header>
</body>

</html>