<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/main.css'>
    <script src='main.js'></script>
</head>

<body>




    <div class="B-main">
        <div class="image-grid">
            <img class="image-grid-col-2 image-grid-row-2"
                src="https://images.pexels.com/photos/18925457/pexels-photo-18925457/free-photo-of-a-snowy-village-in-the-middle-of-the-ocean-with-mountains-in-the-background.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                alt="architecture">
            <img src="https://images.pexels.com/photos/18925457/pexels-photo-18925457/free-photo-of-a-snowy-village-in-the-middle-of-the-ocean-with-mountains-in-the-background.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                alt="architecture">
            <img src="https://images.pexels.com/photos/18925457/pexels-photo-18925457/free-photo-of-a-snowy-village-in-the-middle-of-the-ocean-with-mountains-in-the-background.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                alt="architecture">
            <img src="https://images.pexels.com/photos/18925457/pexels-photo-18925457/free-photo-of-a-snowy-village-in-the-middle-of-the-ocean-with-mountains-in-the-background.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                alt="architecture">
            <img src="https://images.pexels.com/photos/18925457/pexels-photo-18925457/free-photo-of-a-snowy-village-in-the-middle-of-the-ocean-with-mountains-in-the-background.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                alt="architecture">
        </div>

        <section class="content">
            <div class="content-text">
                <h3>NOMBRE DEL SERVICIO</h3>
                <h4>Noruega</h4>
                <p>Descripcion del servicio. Lorem ipsum dolor sit amet consectetur adipiscing elit gravida phasellus ad
                    mi, urna iaculis dis eleifend fusce bibendum a felis magnis. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. In illo nam a iusto vel quam, repellat libero tenetur nemo ut placeat enim
                    laudantium eligendi, voluptas impedit et assumenda, delectus blanditiis. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Amet, soluta ipsam sed earum consequuntur quis, blanditiis quas nihil possimus nihil similique
                    amet! A! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo vero, iure accusamus a
                    dolorem rem laborum numquam minus aliquam nobis voluptas reiciendis fugit. Placeat voluptatum sit
                    impedit id, nesciunt autem.</p>

            </div>

            <div class="content-card">
                <div class="price-card">
                    <p>1000€ / 24h</p>                    <button>Reservar</button>
                </div>
            </div>


        </section>



        <div class="flex-gallery">

            <div class="two-col">
                <div class="boxE"> 1box </div>
                <div class="boxE"> 2box </div>
            </div>

            <div class="one-col-two-rows">
                <div> 1 box </div>
                <div> 2 box </div>
            </div>

        </div>

        <br><br>










    </div>



</body>

</html>