<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/main.css">
  <title>Tarjetas</title>
</head>

<body>
  <section class="cards-container">
    <a href="#" class="card">
      <img src="../assets/img/img1.png" alt="Imagen 1">
      <div class="card__content">
        <div class="card__title">
          <h2>Salón</h2>
          <span>★4.5</span>
        </div>
        <p class="">Ubicación: Duitama</p>
        <p class="">$400.000</p>
      </div>
    </a>

    <a href="#" class="card">
      <img src="../assets/img/img2.jpeg" alt="Imagen 2">
      <div class="card__content">
        <div class="card__title">
          <h2>Salón</h2>
          <span>★4.5</span>
        </div>
        <p class="">Ubicación: Duitama</p>
        <p class="">$400.000</p>
      </div>
    </a>

    <a href="#" class="card">
      <img src="../assets/img/img3.jpeg" alt="Imagen 2">
      <div class="card__content">
        <div class="card__title">
          <h2>Salón</h2>
          <span>★4.5</span>
        </div>
        <p class="">Ubicación: Duitama</p>
        <p class="">$400.000</p>
      </div>
    </a>
</body>

</html>