<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/main.css">
  <title>Tarjetas</title>
</head>

<body>
  <section class="cards-container">
    <a href="#" class="card">
      <img src="../assets/img/img1.png" alt="Imagen 1">
      <div class="card__title">
        <h2>Salón</h2>
        <span>★4.5</span>
      </div>
      <div class="card__content">
        <h3 class="">Ubicación: Duitama</h3>
        <h3 class="">$400.000</h3>
      </div>
    </a>

    <a href="#" class="card">
      <img src="../assets/img/img2.png" alt="Imagen 2">
      <div>
        <h2>Salón <i class="fas fa-star" id="star__card">4.5</i> </h2>
      </div>
      <div>
        <h3 class="ubication__card">Ubicación: Paipa</h3>
      </div>
      <h3 class="price__card">$400.000</h3>
    </a>

    <a href="#" class="card">
      <img src="../assets/img/img3.png" alt="Imagen 3">
      <div>
        <h2>Salón <i class="fas fa-star" id="star__card">4.5</i> </h2>
      </div>
      <div>
        <h3 class="ubication__card">Ubicación: Tunja</h3>
      </div>
      <h3 class="price__card">$400.000</h3>
    </a>
</body>

</html>