<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/main.css">
  <title>Document</title>
</head>

<body>

  <section class="create__new__event">

    <div class="create-event__container">

      <h2>Crear <span class="primary">Evento</span></h2>

      <div class="square__event__form"></div>

      <form class="event__form" id="new-event-form">

      <!-- name event  -->
        <label for="event_name" class="create__event__form__input">
          <input class="content__input" id="event_name" type="text" name="event_name" placeholder="Nombre del evento"
            onkeyup="validateInputData('event_name')">
          <span class="inactive">Ingrese un valor valido.</span>
        </label>
         
        <!-- date event  -->
        <label for="event_date" class="create__event__form__input">
            Fecha:
          <input class="content__input"  id="event_date" type="date" name="event_date" placeholder="Fecha"
            onkeyup="validateInputData('event_date')">
          <span class="inactive">Ingrese un valor valido.</span>
        </label>

        <!-- time event -->
        <label for="event_time" class="create__event__form__input">
            Hora:
          <input class="content__input"  id="event_time" type="time" name="event_time" placeholder="Hora"
            onkeyup="validateInputData('event_time')">
          <span class="inactive">Ingrese un valor valido.</span>
        </label>

        <!-- type event -->
        <label for="event_type" class="create__event__form__input">
             Tipo de evento:
        </label>
        
        <select name="event_type" id="event_type" class="create__event__form__select content__input">
            <option value="1">Boda</option>
            <option value="2">Fiesta de cumpleaños</option>
            <option value="3">Baby showers</option>
            <option value="4">Conferencia/Seminario</option>
            <option value="5">Quince años</option>
            <option value="6">Reunión corporativa</option>
            <option value="7">Feria/Exposición</option>
            <option value="8">Celebración familiar</option>
            <option value="9">Bautizo</option>
            <option value="10">Comunión</option>
            <option value="11">Confirmación</option>
            <option value="12">Graduación</option>
        </select>

    <button type="button" id="create-event-form-button">Crear</button>

      </form>

    </div>

  </section>


  <script src="../assets/js/main.js"></script>

</body>

</html>