<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/main.css">
  <title>Document</title>
</head>

<body>
  <header>
    <div>
      <div class="logo">
        <img src="../assets/svg/logo.svg" alt="Logo Dreamy Event">
      </div>

      <form action="./search.html" class="search-bar">
        <input type="text" name="search" id="search" placeholder="Buscar">
        <button type="submit"></button>
      </form>

      <nav class="nav-bar">
        <button type="button" class="hamburguer-menu"></button>
      </nav>
    </div>
  </header>

  <main>
    <section>
      <ul class="filer-bar">
        <li>
          <a href="pagina1.html">
            <img src="../assets/svg/places.svg" alt="Botón 1">
            <span class="line"></span>
            <span>Lugares</span>
          </a>
        </li>

        <li>
          <a href="pagina2.html">
            <img src="../assets/svg/cake.svg" alt="Botón 2">
            <span class="line"></span>
            <span>Pasteleria</span>
          </a>
        </li>

        <li>
          <a href="pagina3.html">
            <img src="../assets/svg/logistic.svg" alt="Botón 3">
            <span class="line"></span>
            <span>Logistica</span>
          </a>
        </li>

        <li>
          <a href="pagina4.html">
            <img src="../assets/svg/decor.svg" alt="Botón 4">
            <span class="line"></span>
            <span>Decoracion</span>
          </a>
        </li>
      </ul>
    </section>
  </main>
</body>

</html>