<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="sign-up">
    <h2>Registrase</h2>

    <div class="square"></div>

    <form class="sign-up__form">
      <label for="user-name" class="sign-up__form__input">
        Nombre: 
        <input id="user-name" type="text" required>
      </label>

      <label for="user-last-name" class="sign-up__form__input">
        Last name: 
        <input id="user-last-name" type="text" required>
      </label>

      <label for="user-phone" class="sign-up__form__input">
        Telefono: 
        <input id="user-phone" type="number" required>
      </label>

      <label for="user-email" class="sign-up__form__input">
        Email: 
        <input id="user-email" type="email" required>
      </label>

      <label for="user-pass" class="sign-up__form__input">
        Password: 
        <input id="user-pass" type="password" required>
      </label>
    </form>
  </section>
</body>
</html>