<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>

<section class="container__supplier">
    
    <form id="supplier__form" class="was-validated">

        <div class="background"></div>

        <h1 id="supplier__signUp">Sign Up</h1>

        <div class="row">

            <div class="mb-3 mt-3"  id="name__supplier" >
                <label for="name__supplier" class="form-label"></label>
                <input type="text" class="form-control" id="name__supplier--input" placeholder="Nombre" name="" required>
            </div>
          
            <div class="mb-3 mt-3" id="last__name__supplier" >
                <label for="last__name__supplier" class="form-label"></label>
                <input type="text" class="form-control" id="last__name__supplier--input" placeholder="Apellido" name="" required>
            </div>
        </div>
        

        <div class="mb-3">
          <label for="pwd" class="form-label"></label>
          <input type="email" class="form-control" id="email__supplier" placeholder="Email" name="" required> 
        </div>

        <div class="mb-3">
            <label for="pwd" class="form-label"></label>
            <input type="number" class="form-control" id="phone__supplier" placeholder="Teléfono" name="" required>
          </div>

          <div class="mb-3">
            <label for="text" class="form-label"></label>
            <input type="text" class="form-control" id="name__company--supplier" placeholder="Nombre de Empresa" name="" required>
          </div>

          <div class="mb-3">
            <label for="text" class="form-label"></label>
            <input type="text" class="form-control" id="rut__supplier" placeholder="RUT" name="" required>
          </div>

          <div class="mb-3">
            <label for="city__supplie" class="form-label"></label>
            <input type="text" class="form-control" id="city__supplier" placeholder="Ciudad" name="" required>
          </div>

          <div class="mb-3">
            <label for="text" class="form-label"></label>
            <input type="text" class="form-control" id="country__supplier" placeholder="País" name="" required>
          </div>

          <div class="mb-3">
            <label for="text" class="form-label"></label>
            <input type="password" class="form-control" id="pwd_supplier" placeholder="Password" name="" required>
          </div>

       <center>
         <button type="submit" class="btn">Registrarme</button>
       </center>

      </form>


</section>


</body>
</html>