<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title></title>
</head>
<body>
   <header class="info__total__cost">
           <div class="info__column title__cost__event">
               <h1><span id="name--event">CUMPLEAÑOS CAMILO</span></h1>
           </div>
           
   
           <div class="info__column date__event">
   
              <p>Fecha de orden: 
                  <span id="date--order">#####</span>
                  <span id="time--order">00:00</span>
               </p>
   
              <p>Lugar del evento: 
               <span id="place--event">######</span>
              </p>
   
              <p>Evento realizado el: 
                <span id="date--made--event">#####</span> 
                <span id="time--made--event">00:00</span>
               </p>
   
           </div>
    </header>




    <main class="info__service">



      <section class="cost__section">
      
         <h2>Resumen</h2>

        <div class="service_cost">
           <p><span>Pastel de cumpleaños</span></p>
           <h3><span>$100.000</span></h3>
        </div>

        <div class="service_cost">
         <p><span>Catering</span></p>
         <h3><span>$100.000</span></h3>
        </div>

        <div class="service_cost">
           <p><span>Decoración</span></p>
           <h3><span>$100.000</span></h3>
        </div>
   
        <div class="service_cost">
          <p><span>Comida/Bebida</span></p>
          <h3><span>$100.000</span></h3>
        </div>

        <div class="service_cost">
           <p><span>Aseo</span></p>
           <h3><span>$100.000</span></h3>
        </div>
        
   
        <div class="total__price">
           <h2>Total:</h2>
           <h3>$300.000</h3>
         </div>
   
        <div class="container__button">
           <button type="submit" class="reserve__button" id="reserve">Reservar</button>
        </div>


      </section>
        <section class="description__section">
      
          <div class="description__service">
             <h2><span>Pastel de cumpleaños</span></h2>
             <p>Proveedor: ####</p>
          </div>  
      
      
          <div class="description__service">
              <h2><span>Catering</span></h2>
              <p>Proveedor: ####</p>
           </div> 
      
      
           <div class="description__service">
              <h2><span>Decoración</span></h2>
              <p>Proveedor: ####</p>
           </div>
           
      
           <div class="description__service">
              <h2><span>Comida/Bebida</span></h2>
              <p>Proveedor: ####</p>
           </div> 
      
      
           <div class="description__service">
              <h2><span>Aseo</span></h2>
              <p>Proveedor: ####</p>
           </div>
      
         </section> 

    </main>
</body>
</html>