<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/main.css">
    <title></title>
</head>
<body>

    <div class="info__total__cost">
        <div class="title__cost__event">
            <h1><span id="name--event">Nombre de mi evento</span></h1>
        </div>
        
        <div class="date__event">
           <p>Fecha de orden: <span id="date--order">#####</span> <span id="time--order">00:00</span></p>
           <p>Lugar del evento: <span id="place--event">######</span></p>
           <p>Evento realizado el: <span id="date--made--event">#####</span>  <span id="time--made--event">00:00</span></p>
        </div>

    </div>



    <h2>Servicio 1</h2>
    <p>Proveedor: ####</p>

    <h2>Servicio 1</h2>
    <p>Proveedor: ####</p>

    <h2>Servicio 1</h2>
    <p>Proveedor: ####</p>




    <h2>Resumen</h2>

    <p>Servicio 1</p>
    <h3>$100.000</h3>

    <p>Servicio 1</p>
    <h3>$100.000</h3>

    <p>Servicio 1</p>
    <h3>$100.000</h3>


    <h2>Total:</h2>
    <h2>$300.000</h2>


    <button>Reservar</button>
</body>
</html>