:root {
  --primary: #7772E6;
  --secondary: #737380;
  --black: #1B1A33;
  --white: #FFFFFF;
}

html {
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
}

main {
  margin: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.8rem;
}

/* header */
header {
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--primary);
  background-color: var(--white);
  z-index: 100;
}

header>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.logo {
  width: 40px;
  height: 40px;
}

.hamburguer-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburguer-menu span {
  background-repeat: no-repeat;
  background-position: center;
}

.hamburguer-menu span:nth-child(1) {
  width: 24px;
  height: 24px;
  background-image: url('../svg/hamburguer-menu.svg');
  background-size: 24px;
}

.hamburguer-menu span:nth-child(2) {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url('../svg/profile-default.svg');
  background-size: cover;
}

.nav-bar {
  position: relative;
}

.nav-bar ul {
  position: absolute;
  top: 2.5rem;
  right: 0;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 15px;
  overflow: hidden;
  z-index: 1000;
}

.nav-bar ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

.nav-bar ul li a {
  display: inline-block;
  width: 100%;
  min-width: 150px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  color: var(--black);
  text-align: center;
  text-decoration: none;
}

.nav-bar ul li:hover {
  background-color: rgba(118, 112, 230, 0.4);
}

.active {
  display: flex;
}

.search-bar {
  position: relative;
  width: 50%;
  max-width: 300px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--primary);
}

.search-bar input {
  width: calc(100% - 30px);
  height: 100%;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  text-indent: 16px;
  color: var(--white);
}

.search-bar input:focus {
  border: none;
}

.search-bar input::placeholder {
  color: var(--white);
}

.search-bar button {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-image: url('../svg/search.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  outline: none;
  cursor: pointer;
}

/* 404 page */
.error-404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 80dvh;
  max-width: 700px;
  margin: 0 auto;
  color: var(--black);
}

.error-404-container h2 {
  margin: 0;
  font-size: 4rem;
}

.error-404-container img {
  width: 100%;
  max-width: 500px;
  margin-top: 2rem;
}

.error-404-container h3 {
  margin: 0;
  font-size: 2rem;
}

.error-404-container p {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.error-404-container a {
  width: 150px;
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--primary);
  text-decoration: none;
  text-align: center;
  color: var(--white);
}

/* Hero */

.hero-container {
  position: relative;
  width: 100%;
  height: 60dvh;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white);
}

.hero-text p {
  margin: 0;
  font-size: 32px;
  line-height: 1.5;
}

.hero-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--white);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

/* styles titles */
.primary {
  text-shadow: 0 2px 10px var(--primary);
  color: var(--primary);
}

/* form section */
.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80dvh;
  padding: 2rem 0;
}

.form__container {
  position: relative;
  width: 80%;
  max-width: 512px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px var(--primary);
  overflow: hidden;
}

/* square */
.square {
  position: absolute;
  width: 60dvw;
  height: 60dvw;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: rgba(120, 114, 230, 0.3);
  border-radius: 35px;
  filter: blur(10px);
  z-index: -100;
}

/* sign up form */
.form__container h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__input {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0.5rem 0;
  color: var(--secondary);
}

input,
select {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  outline: none;
}

input:focus,
select:focus {
  border: 2px solid var(--black);
}

.form__input input[type="file"] {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0;
  border: none !important;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  color: var(--secondary);
  cursor: pointer;
}

.form__input input::file-selector-button {
  border: none;
  border-radius: 15px;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
}

.form__input input::file-selector-button:hover {
  background-color: var(--black);
  box-shadow: 0 5px 15px var(--primary);
}

.form__input span {
  color: red;
}

.form button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  color: var(--white);
  cursor: pointer;
}

.form button:hover {
  background-color: var(--black);
  box-shadow: 0 5px 15px var(--primary);
}


/* Estilos para boton de filtros */
.button-filter-bar {
  padding: 10px;
  background: none;
  border: 1px solid var(--primary);
  border-radius: 10px;
  box-shadow: 0;
}

.button-filter-bar:hover {
  border: 2px solid var(--primary);
}

.filter__img {
  margin-right: 8px;
}

/* Estilos para el modal de filtro */
.Modal__filter {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(218, 216, 216, 0.7);
  z-index: 1;
  overflow-y: scroll;
}

/* Estilos para el contenido del modal */
.modal-content {
  background-color: var(--white);
  width: 60%;
  max-width: 600px;
  margin: 100px auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 10px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 5px 15px var(--primary);
}

.header-filter {
  display: flex;
  justify-content: space-between;
}

.column-filter1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-filter2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
}

#title-modal-filter {
  margin: 0%;
  align-items: center;
  font-size: 30px;
}

/* Estilo para el botón de cerrar */
.exit__filter {
  align-items: left;
  outline: none;
  border: 0px;
  border-radius: 5px;
  padding: 0%;
  width: 30px;
  height: 28px;
  padding-top: 2px;
  background: none;
}

.exit__filter:hover {
  transform: scale(1.2);
  background-color: #ccc;
}

.scroll-container {
  overflow-y: auto;
  max-height: calc(100% - 20px);
}

.checkbox-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.input__amount {
  display: grid;
}

.button-filter {
  align-items: center;
  justify-content: center;
  display: flex;
}


.button_places {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.filter_elements {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

/* img lugares  */
.img_places_button {
  border-radius: 5px;
  height: 90px;
  width: 100px;
  background: none;
  border: 1px;
  border: 1px solid #ccc;
  background: none;
  padding: 10px;
}

.img_places_button:hover {
  border: 1px solid var(--black);
}

.img_places {
  width: 50px;
}

/* resume event */
.event-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 900px;
  gap: 2rem;
  margin: 0 auto;
}

.resume-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 5px 15px var(--primary);
  border-radius: 15px;
  color: var(--black);
}

.resume-event__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-bottom: 2rem;
}

.resume-event__header h2 {
  margin: 0;
  font-size: 2rem;
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
}

.resume-event__header__details {
  width: 100%;
}

.resume-event__header p {
  margin: 0;
  font-size: 1rem;
  color: var(--secondary);
}

.resume-event__header p span {
  font-weight: bold;
  color: var(--primary);
}

.resume-event__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.resume-event__body h3 {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: left;
  text-transform: uppercase;
  color: var(--primary);
}

.resume-event__body__service,
.resume-event__body__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.resume-event__body__service h4 {
  margin: 0;
  font-weight: 500;
}

.resume-event__body__total {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid var(--primary);
}

.resume-event__body__total h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--black);
}

.resume-event__body__total p {
  font-size: 1.3rem;
}

.resume-event__body__service p,
.resume-event__body__total p {
  margin: 0;
  font-weight: bold;
  color: var(--primary);
}

.resume-event__body__button {
  width: 200px;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  text-align: center;
  color: var(--white);
}

.event-details .cards-container {
  width: 100%;
  padding: 0;
}

.event-details .cards-container button {
  background-image: url('../svg/trash-white.svg');
}

.event-details .cards-container button:hover {
  background-image: url('../svg/trash-white.svg');
}

/* validacion de input */
.is-invalid {
  border: 2px dashed red !important;
}

input:invalid,
select:invalid {
  border: 2px dashed red;
}

input:invalid:focus,
select:invalid:focus {
  border: 2px dashed red;
}

.inactive {
  display: none;
}

/* list of services */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 0;
}

.card {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px var(--primary);
  background-color: transparent;
  text-decoration: none;
  color: var(--black);
}

.card button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  right: 0;
  margin: 1rem;
  background-color: transparent;
  background-image: url('../svg/heart.svg');
  border: none;
  z-index: 10;
  cursor: pointer;
}

.card button:hover {
  background-image: url('../svg/heart-fill.svg');
}

.card .favorite--active {
  background-image: url('../svg/heart-fill.svg');
}

.card img {
  width: 100%;
  height: 12rem;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card__content {
  padding: 1rem;
}


.card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.card__title h2 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.2rem;
}

.card__title span {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
}

.card__content p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
}

.card__content p:last-child {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary);
}

.price__card {
  color: var(--primary);
}

.ubication__card {
  color: var(--secondary);
}

.card i {
  color: var(--primary);
  float: right;
}

.card p.price {
  color: #333;
  font-size: 24px;
}

/* Filter bar */
.filer-bar {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  background-color: var(--white);
  overflow: scroll;
}

.filer-bar li {
  list-style: none;
}

.filer-bar li img {
  display: block;
  margin: 0 auto;
}

.filer-bar li span {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: var(--black);
}

.filer-bar li .line {
  display: block;
  height: 4px;
  background-color: var(--primary);
  border-radius: 2px;
}

.filer-bar li a {
  text-decoration: none;
}

/* info Service */
.info-service {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* gallery */
.info-service__gallery {
  display: flex;
  width: 100%;
  height: 30dvh;
  gap: 2rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.info-service__gallery img {
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
  border-radius: 15px;
}

.info-service__gallery img:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}

.info-service__gallery img:nth-child(2) {
  grid-area: 1 / 2 / 3 / 3;
}

.info-service__gallery img:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
}

.info-service__gallery img:nth-child(4) {
  grid-area: 2 / 3 / 3 / 4;
}

/* datails */
.info-service__details {
  width: 100%;
  padding: 2rem 0;
}

.info-service__details__header {
  display: flex;
  margin-bottom: 1rem;
  color: var(--secondary);
}

.info-service__details__header__title {
  width: 80%;
}

.info-service__details__header__title p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.info-service__details__header__title h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
}

.info-service__details__header__rating {
  display: flex;
  justify-content: center;
  width: 20%;
  font-weight: bold;
  color: var(--primary);
}

.info-service__details__header__rating p {
  margin: 0;
}

.info-service__details__body {
  font-size: 1rem;
  color: var(--black);
}

.info-service__details__price-card {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--white);
  border-top: solid 1px var(--primary);
  z-index: 100;
}

.info-service__details__price-card p {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--black);
}

.info-service__details__price-card button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.info-service__details__price-card button span {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('../svg/arrow-down.svg');
  background-position: center;
  background-size: cover;
  transform: rotate(180deg);
}

.info-service__details__price-card__events {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 100%;
  width: 75%;
  max-width: 220px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--white);
  box-shadow: 0 5px 15px var(--primary);
  border-radius: 5px;
}

.info-service__details__price-card__events::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  left: calc(50% - 10px);
  bottom: -20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: var(--primary) 10px solid;
  border-bottom: transparent 10px solid;
}

.info-service__details__price-card__events li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  list-style: none;
  cursor: pointer;
}

.info-service__details__price-card__events li:hover {
  background-color: rgba(118, 112, 230, 0.4);
}

.info-service__details__price-card__events li span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../svg/plus.svg') no-repeat center/cover;
}

/* Stars */
.stars {
  display: flex;
  flex-direction: row-reverse;
}

.stars input {
  display: none;
}

.stars label {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url('../img/estrella.png');
  background-size: cover;
}

.stars input:checked~label {
  background-image: url('../svg/star.svg');
}

/* Comments  */

.comments__container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.commentForm {
  position: relative;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 5px 15px var(--primary);
  background-color: transparent;
  text-decoration: none;
  color: var(--black);
  display: flex;
  flex-direction: column;
}

.comments__content {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.commentForm button {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;

}

.comments__content textarea {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  resize: none;
  border-radius: 10px;
}

.button__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 15px;
}

/* Opinions*/

.opinions {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

/* alerts */
.alert {
  position: fixed;
  display: none;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 20px;
  color: var(--black);
  z-index: 1000;
}

.alert p {
  font-size: 1.2rem;
  font-weight: 600;
  flex-grow: 1;
  text-align: center;
}

.alert button {
  background: url(../svg/close.svg) no-repeat center/cover;
  width: 32px;
  height: 32px;
}

.closebtn {
  margin-left: 15px;
  color: var(--white);
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: black;
}

.btn-close {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

/* favorite services */
.favorite-services {
  width: 100%;
  max-width: 900px;
  margin: 2rem auto;
}

/* my events */
.my-events {
  width: 100%;
  max-width: 900px;
  margin: 2rem auto;
}

.my-events__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.my-events__header__create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--white);
}

.my-events__header__create:hover {
  background-color: var(--black);
  box-shadow: 0 5px 15px var(--primary);
}

.my-events__header__create span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../svg/plus-white.svg') no-repeat center/cover;
}

.events-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin: 2rem 0;
}

/* list of events */
.event {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  gap: 2rem;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px var(--primary);
  text-decoration: none;
  color: var(--secondary);
}

.event__header h3 {
  margin: 0 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  color: var(--black);
}

.event__header__details {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.event__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.event__price h4 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  color: var(--black);
}

.highlight-text {
  font-weight: bold;
  color: var(--primary);
}

.event__options {
  position: absolute;
  /* display: flex; */
  top: 0.5rem;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 5px 15px var(--primary);
  border-radius: 10px;
  overflow: hidden;
}

.event__options__edit,
.event__options__delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

.event__options__edit:hover,
.event__options__delete:hover {
  background-color: rgba(118, 112, 230, 0.4);
}

.event__options__edit span,
.event__options__delete span {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.event__options__edit span {
  background: url('../svg/pencil.svg') no-repeat center/cover;
}

.event__options__delete span {
  background: url('../svg/trash.svg') no-repeat center/cover;
}

.icon-ellipsis {
  position: absolute;
  display: inline-block;
  top: 0.5rem;
  right: 0.5rem;
  width: 24px;
  height: 24px;
  background: url('../svg/elipsis.svg') no-repeat center/cover;
}

@media (min-width: 768px) {
  .filer-bar {
    justify-content: space-evenly;
    overflow: hidden;
  }

  .info__service {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .event-details {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .event-details .resume-event {
    position: sticky;
    top: 6rem;
    width: 40%;
  }

  .event-details .cards-container {
    width: 60%;
  }

  .info-service__gallery {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: repeat(2, minmax(130px, 2fr));
    width: 100%;
    height: auto;
    gap: 1rem;
  }

  .info-service__gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .info-service__details {
    display: flex;
    gap: 1rem;
    /* width: 100%;
    padding: 2rem 0; */
  }

  .info-service__details>div:first-child {
    width: 65%;
  }

  .info-service__details__price-card {
    position: sticky;
    top: 5rem;
    bottom: auto;
    left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 150px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 5px 15px var(--primary);
    border: none;
    z-index: 0;
  }

  .info-service__details__price-card button span {
    transform: rotate(0deg);
  }

  .info-service__details__price-card__events {
    top: 90%;
    bottom: auto;
  }

  .info-service__details__price-card__events::before {
    top: -20px;
    bottom: auto;
    border-bottom: var(--primary) 10px solid;
    border-top: 10px solid transparent;
  }

  .event {
    flex-direction: row;
  }

  .event__header {
    width: 60%;
  }
}

.create__event-button {
  color: var(--white);
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--primary);
  padding: 0.630rem;
  margin-top: 15%;
  margin-left: 5%;
  cursor: pointer;
}

.opinions {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;

}

.opinions h2 {
  color: #333;
  text-align: center;
}

.opinion {
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 5px 15px var(--primary);
  border-radius: 10px;

}

.usuario {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.calification {
  color: #f39c12;
  margin-bottom: 10px;
}

.comment {
  color: #777;
}