:root {
  --primary: #7772E6;
  --secondary: #737380;
  --black: #1B1A33;
  --white: #FFFFFF;
}

html {
  font-family: 'Poppins', sans-serif;
}

/* header */
header {
  position: sticky;
  border-bottom: 1px solid var(--primary);
}

header>div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  width: 40px;
  height: 40px;
}

.hamburguer-menu {
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  background-image: url('../svg/hamburguer-menu.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  cursor: pointer;
}

.search-bar {
  position: relative;
  width: 50%;
  max-width: 300px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--primary);
  box-shadow: 0px 0px 5px 2px #5e57e0;
}

.search-bar input {
  width: calc(100% - 30px);
  height: 100%;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  text-indent: 16px;
  color: var(--white);
}

.search-bar input::placeholder {
  color: var(--white);
}

.search-bar button {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-image: url('../svg/search.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  outline: none;
  cursor: pointer;
}

/* styles titles */
.primary {
  text-shadow: 0 2px 10px var(--primary);
  color: var(--primary);
}

/* form section */
.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: 2rem 0;
}

.form__container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px var(--primary);
  overflow: hidden;
}

/* square */
.square {
  position: absolute;
  width: 60dvw;
  height: 60dvw;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: rgba(120, 114, 230, 0.3);
  border-radius: 35px;
  filter: blur(10px);
  z-index: -100;
}

/* sign up form */
.form__container h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__input {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0.5rem 0;
  color: var(--secondary);<li><a href="pagina5.html"><img src="boton5.png" alt="Botón 5"><span>Botón 5</span></a></li>
}

input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  outline: none;
}

input:focus {
  border: 2px solid var(--black);
}

.form__input input[type="file"] {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0;
  border: none !important;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  color: var(--secondary);
  cursor: pointer;
}

.form__input input::file-selector-button {
  border: none;
  border-radius: 15px;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
}

.form__input input::file-selector-button:hover {
  background-color: var(--black);
  box-shadow: 0 5px 15px var(--primary);
}

.form__input span {
  color: red;
}

.form button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  color: var(--white);
  cursor: pointer;
}

.form button:hover {
  background-color: var(--black);
  box-shadow: 0 5px 15px var(--primary);
}




/* event form */
.create__new__event{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: 2rem 0;
}

.create-event__container {
  position: relative;
  width: 30%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px var(--primary);
  overflow: hidden;
}

.create-event__container h2 {
  text-align: center;
}

.event__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__input{
  color: var(--secondary);
}

.create__event__form__input {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0.5rem 0;
  color: var(--black);
}

.create__event__form__select{
   width: 100%; 
    margin: 0.5rem 0;
    color: var(--primary);
    background-color: transparent; 
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 0.5rem;
    outline: none; 
    cursor: pointer; 
}

.sections__form__create{
  color: var(--secondary);
}

#event_type{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0.5rem 0;
  color: var(--secondary);
}

.event__form button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  color: var(--white);
  cursor: pointer;
}

.event__form button:hover {
  background-color: var(--black);
  box-shadow: 0 5px 15px var(--primary);
}






  /* Estilos para el modal de filtro */
  .Modal__filter {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(218, 216, 216, 0.7);
    z-index: 1;
    overflow-y: scroll;
}

.filter__header {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between; /* Alinear el contenido a los extremos */
    align-items: center; /* Centrar verticalmente */
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: var(--white);
    width: 28%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    max-height: 80%; 
   overflow-y: auto;
}

.scroll-container {
  overflow-y: auto; 
  max-height: calc(100% - 20px); 
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 20px;
}

.button-filter-bar{
    padding: 10px;
    background: none;
    border: 1px solid var(--primary);
    border-radius: 10px;
    box-shadow: 0 ;
    margin-top: 20%;
}

.button-filter-bar:hover{
  border: 2px solid var(--primary);
}

.filter__img{
    margin-right: 8px;
}

.button_places {
    display: flex;
    justify-content: space-around;
    padding-bottom:10px ;
}

 .filter_elements{
  border-bottom: 1px solid #ccc; 
  padding-bottom: 10px; 
 }

 

/* Estilo para el botón de cerrar */
.exit__filter{
    text-align:left;
    outline: none;
    border: 55px solid;
    padding: 0%;
    border-width: 0px;
    width: 23px;
    height: 25px;
    padding-top: 2px;
   background: none;
}

/* img lugares  */
.img_places_button{
    border-radius: 5px;
    height: 90px;
    width: 100px;
    background: none; 
    border: 1px;
    border: 1px solid #ccc;
    background: none;
    padding: 10px; 
}

.img_places_button:hover {
   border: 1px solid var(--black);
}

.img_places{
    width: 50px;
}





/* validacion de input */
.is-invalid {
  border: 2px dashed red !important;
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:focus {
  border: 2px dashed red;
}

.inactive {
  display: none;
}

/* list of services */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  gap: 2rem;
}

.card {
  max-width: 350px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px var(--primary);
  background-color: transparent;
  text-decoration: none;
  color: var(--black);
}

.card img {
  width: 100%;
  height: auto;
  max-height: 10rem;
  border-radius: 10px 10px 0 0;
}

.card__content {
  padding: 1rem;
}


.card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.card__title h2 {
  margin: 0;
}

.card__title span {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
}

.card__content p {
  font-size: 1rem;
}

.card__content p:last-child {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary);
}

.price__card {
  color: var(--primary);
}

.ubication__card {
  color: var(--secondary);
}

.card i {
  color: var(--primary);
  float: right;
}

.card p.price {
  color: #333;
  font-size: 24px;
}

/* Filter bar */
.filer-bar {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  background-color: var(--white);
  overflow: scroll;
}

.filer-bar li {
  list-style: none;
}

.filer-bar li img {
  display: block;
  margin: 0 auto;
}

.filer-bar li span {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: var(--black);
}

.filer-bar li .line {
  display: block;
  height: 4px;
  background-color: var(--primary);
  border-radius: 2px;
}

.filer-bar li a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .filer-bar {
    justify-content: space-evenly;
    overflow: hidden;
  }

}