:root {
  --primary: #7772E6;
  --secondary: #737380;
  --black: #1B1A33;
  --white: #FFFFFF;
}

html {
  font-family: 'Poppins', sans-serif;
}

/* header */
header {
  position: sticky;
  border-bottom: 1px solid var(--primary);
}

header>div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  width: 40px;
  height: 40px;
}

.hamburguer-menu {
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  background-image: url('../svg/hamburguer-menu.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  cursor: pointer;
}

.search-bar {
  position: relative;
  width: 50%;
  max-width: 300px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--primary);
  box-shadow: 0px 0px 5px 2px #5e57e0;
}

.search-bar input {
  width: calc(100% - 30px);
  height: 100%;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  text-indent: 16px;
  color: var(--white);
}

.search-bar input::placeholder {
  color: var(--white);
}

.search-bar button {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-image: url('../svg/search.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  outline: none;
  cursor: pointer;
}

/* styles titles */
.primary {
  text-shadow: 0 2px 10px var(--primary);
  color: var(--primary);
}

/* form section */
.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: 2rem 0;
}

.form__container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px var(--primary);
  overflow: hidden;
}

/* square */
.square {
  position: absolute;
  width: 60dvw;
  height: 60dvw;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: rgba(120, 114, 230, 0.3);
  border-radius: 35px;
  filter: blur(10px);
  z-index: -100;
}

/* sign up form */
.form__container h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__input {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0.5rem 0;
  color: var(--secondary);
}

input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  outline: none;
}

input:focus {
  border: 2px solid var(--black);
}

.form__input input[type="file"] {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0;
  border: none !important;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  color: var(--secondary);
  cursor: pointer;
}

.form__input input::file-selector-button {
  border: none;
  border-radius: 15px;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
}

.form__input input::file-selector-button:hover {
  background-color: var(--black);
  box-shadow: 0 5px 15px var(--primary);
}

.form__input span {
  color: red;
}

.form button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  color: var(--white);
  cursor: pointer;
}

.form button:hover {
  background-color: var(--black);
  box-shadow: 0 5px 15px var(--primary);
}

/* validacion de input */
.is-invalid {
  border: 2px dashed red !important;
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:focus {
  border: 2px dashed red;
}

.inactive {
  display: none;
}

/* list of services */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 768px;
  padding: 2rem;
  gap: 2rem;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 15px var(--primary);
  background-color: transparent;
  text-decoration: none;
  color: var(--black);
}

.card img {
  width: 100%;
}
.price__card {
  color: var(--primary);
}

.ubication__card {
  color: var(--secondary);
}

.card i {
  color: var(--primary);
  float: right;
}

.card img {
  max-width: 100%;
  border-radius: 5px;
}

.card p.price {
  color: #333;
  font-size: 24px;
}