:root {
    --primary: #7772E6;
    --secondary: #737380;
    --black: #1B1A33;
    --white: #FFFFFF;
  }

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.price__card{
    color: var(--primary);
}
.ubication__card{
    color: var(--secondary);
}

.card__container {
    display: flex;
    justify-content: space-between;
    gap: 46px;
    max-width: 100%;
    overflow: auto;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 199px; 
    height: 236px;
    padding: 20px;
    text-align: center;
    display: inline-block; 
}

.card i {
    color: var(--primary);
    float: right;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card p.price {
    color: #333;
    font-size: 24px;
}